* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

button{
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 12vmin;
  background-color: #fff;
  box-shadow: 0px 5px 10px gray;
  padding: 0px 3vmin;
  position: sticky;
  top: 0;
  left: 0;
}

#logo {
  flex: 1;
  margin-left: 3vmin;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

#menu ul {
  list-style: none;
  display: flex;
  gap: 3vmin;
  margin: 0;
  padding: 0;
}

#menu ul li a {
  text-decoration: none;
  color: #213454;
}

#logo img {
  height: 8vmin;
}

#user {
  margin: 1vmin 3.8vmin;
  height: 8vmin;
  width: 8vmin;
  border-radius: 50%;
  background-color: #213454;
  display: flex;
  align-items: center;
  justify-content: center;
}

#user img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  font-size: 3.2vmin;
  padding: 3.5vmin;
  color: rgb(12, 12, 12);
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.box1 {
  width: 50%;
  padding: 6vmin;
}

.first1 {
  display: grid;
  row-gap: 3vmin;
}

.box2 {
  width: 50%;
}

.image img {
  width: 80%;
  margin: 7vmin;
}

.first1 h2 {
  font-size: 7.5vmin;
  font-weight: 700;
  padding: 30px 0;
}

.first1 h2 .heading {
  color: rgb(57, 149, 202);
}

.first1 p {
  font-size: 2.5vmin;
}

.first1 button {
  padding: 2vmin 7vmin;
  font-size: 4vmin;
  margin: 5% 20%;
  border-radius: 15px;
  background-color: rgb(83, 177, 236);
  color: #fff;
  cursor: pointer;
}

/* section2 css */

.companyInfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(83, 177, 236);
  height: 30vmin;
}

.achivementInfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info1 {
  display: flex;
  gap: 2vmin;
  margin: 1vmin;
  align-items: center;
}

.infoText {
  font-size: 7vmin;
  color: #fff;
}

.infoIcon {
  width: 12vmin;
}

.infoIcon img {
  max-width: 100%;
  max-height: 100%;
}

.dataInfo .info11 {
  font-size: 3.5vmin;
  font-weight: 700;
  color: #fff;
}

.dataInfo .info12 {
  font-size: 2.5vmin;
  color: #fff;
}

/* second section css end */

.facilitiesSection {
  margin-top: 5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facilitiesSection .leftBoxes {
  border-radius: 10px;
  padding: 3vmin;
  width: 80%;
}


.servicesBox{
  display: grid;
  align-items: center;
  gap: 2vmin;
  margin: 5vmin;
}

.serivicsImg{
  max-width: 60%;
  margin: auto;
}

.serivicsImg img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: fit-content;
  border-radius: 30px;
  box-shadow: gray 0 2px 5px;
}

.serviceInfo{
  display: flex;
  align-items: center;
  margin: 2vmin 20vmin;
  justify-content: space-around;
  font-size: 4vmin;
}

.ServiceButton{
  display: flex;
  align-items: center;
  margin: 0vmin 25vmin;
  justify-content: center;
}

.ServiceButton button{
  height: 6vmin;
  width: 25vmin;
 color: #fff;
 font-weight: 600;
  border-radius: 25px;
  border: none;
  font-size: 3vmin;
  margin: 3vmin;
}

.ServiceButton .skip{
  background-color: #ff7477;
}

.ServiceButton .addItem{
  background-color: #25a244;
}





/* Laundry service Section css start */

.serviceContainer {
  display: flex;
  justify-content: space-between;
  margin: 10vmin;
}

.serviceContainer .leftBox {
  box-shadow: 0 0px 5px gray;
  border-radius: 10px;
  padding: 3vmin;
  width: 48%;
}
.serviceContainer .rightBox {
  width: 48%;
}

.serviceInfoTitle {
  min-height: 10vmin;
}

.serviceInfoTitle h2 {
  font-size: 6vmin;
}

.serviceInfoTitle p {
  font-size: 2.5vmin;
}

#serviceTable {
  margin: 5vmin 0;
  min-width: 100%;
}

#serviceTable tr {
  box-shadow: 0 0.5px 0.5px gray;
  height: 9vmin;
}

.cartService {
  display: flex;
  align-items: center;
}

.serviceImgBox {
  height: 5vmin;
}

.serviceImgBox img {
  height: 100%;
  margin-right: 2vmin;
}

.serviceName {
  font-weight: 600;
}

.servicePrice,
.InstructionForCart {
  color: rgb(5, 5, 215);
}

.addToCartBtn {
  height: 6vmin;
  width: 100%;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1vmin;
  justify-content: center;
  background-color: rgb(203, 203, 203);
  border-radius: 15px;
}

.remove{
  background-color: #ff939f;
}

.noItem{
  margin: 3vmin;
  font-size: 3vmin;
}

/* right box */

.rightUpperBox {
  width: 100%;
  height: 50vmin;
  box-shadow: 0 0 5px gray;
  border-radius: 10px;
  margin-bottom: 10px;
}

.addedItemHeading {
  justify-content: center;
  font-size: 5vmin;
  font-weight: 600;
  height: 10vmin;
  display: flex;
  align-items: center;
}

.addedItemList {
  height: 40vmin;
}

.amountInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 3vmin;
  height: 5vmin;
}

.table {
  width: 100%;
  height: 30vmin;
  overflow: scroll;
  border-radius: 10px;
}

.table::-webkit-scrollbar {
  display: none;
}

#addedItemTable {
  width: 100%;
}

.table tr {
  height: 6vmin;
  box-shadow: 0 0.5px 0.5px gray;
}

.table tr td {
  text-align: center;
}

.rightLowerBox {
  width: 100%;
  box-shadow: 0 0 5px gray;
  border-radius: 10px;
}

form {
  display: grid;
  gap: 3vmin;
  padding: 15px;
}

.lowerRightName {
  font-size: 5vmin;
  margin: auto;
}

.inputName {
  width: 100%;
  border-radius: 10px;
  border: none;
}

input {
  height: 6vmin;
  border-radius: 10px;
  width: 95%;
  box-shadow: 0 0px 5px gray;
  border: none;
  padding-left: 3vmin ;
  font-size: 2.5vmin;
}

.userInfo {
  display: flex;
  gap: 2vmin;
  width: 98%;
  align-items: center;
}

.inputPhone,
.inputEmail {
  min-width: 50%;
}

.submit {
  height: 7vmin;
  width: 45vmin;
  font-size: 3vmin;
  background-color: rgb(83, 177, 236);
  color: #fff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

/* Laundry service Section css end */

/* companyInfo Section css start */

.companyInfoBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10vmin 0vmin;
}

.companyInfo1 {
  width: 20%;
}

.companyInfo1 div h3 {
  font-size: 3.5vmin;
}

.companyInfo1 div p {
  font-size: 2.3vmin;
}

.companyInfoImg {
  width: 20%;
  margin: auto;
}

.companyInfo1 img {
  max-width: 100%;
}

.companyInfo1 div {
  text-align: center;
}

/* companyInfo Section css end */

/* subscribe Section css start */

.subscribeBox {
  background-color: rgb(83, 177, 236);
  color: #fff;
  width: 100%;
  height: 40vmin;
  display: flex;
  align-items: center;
}

.subscribeHeading {
  width: 40%;
  margin: auto;
  font-size: 5vmin;
}

.subscribeInputs {
  width: 50%;
}

.subscribeInputs input {
  max-width: 40%;
  margin: 3vmin;
  padding-left: 2vmin;
}

.subCon {
  max-width: 100%;
}

.subscribeBtn {
  height: 7vmin;
  width: 45vmin;
  font-size: 3vmin;
  background-color: rgb(20, 59, 83);
  color: #fff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

/* subscribe Section css end */

/* footer css start */

footer {
  background-color: #213454;
  color: #fff;
}

.footIcon {
  display: flex;
}

footer .companyInfoBox .companyInfo1 {
  width: 20%;
  background-color: #213454;
  display: grid;
  justify-content: left;
  gap: 1.5vmin;
}

footer .companyInfoBox {
  display: flex;
  height: 30vmin;
  align-items: baseline;
  justify-content: space-evenly;
}

.footIcon {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footIcon img {
  max-height: 40%;
}

.footLink {
  font-size: 2.8vmin;
}

.companyInfo1 .impoLink {
  font-size: 4vmin;
}

.companyInfo1 .footLogo {
  font-size: 6.5vmin;
}

.companyInfo1 h4 {
  font-size: 3.7vmin;
}

/* footer css end */

@media (max-width: 850px) {
  .serviceContainer {
    margin: 2vmin;
  }

  /* section2 css */
  .infoText {
    margin: auto;
    text-align: center;
  }

  .companyInfo {
    display: grid;
  }
  /* section2 css end*/

  /* Laundry service Section css start */

  .serviceContainer {
    display: grid;
    justify-content: stretch;
    margin: 5vmin;
  }

  .serviceContainer .leftBox {
    margin-bottom: 5vmin;
    width: 95%;
  }
  .serviceContainer .rightBox {
    width: 99%;
  }

  .rightUpperBox {
    margin-bottom: 5vmin;
  }

  /* footer */

  .subscribeBox {
    display: grid;
    justify-content: stretch;
    height: 50vmin;
  }

  .subscribeInputs {
    width: 100%;
    padding: 1vmin;
    margin: auto;
  }

  .subscribeInput {
    margin: auto;
  }

  .subscribeHeading {
    font-size: 4vmin;
    width: 70%;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .menu-icon {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 12vmin;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
  }

  .menu-toggle:checked + .menu-icon + .menu {
    display: flex;
  }

  .menu ul {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  .menu ul li {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
  }

  .menu ul li:hover {
    background-color: rgb(83, 177, 236);
  }

  .container {
    display: grid;
    justify-content: stretch;
    align-items: center;
    margin: auto;
  }

  .box1 {
    max-width: 100%;
    min-width: 85%;
    margin: auto;
  }

  .box2 {
    width: 70%;
    margin: auto;
  }

  /* card box css */

  .serviceInfoBox {
    display: grid;
  }

  .serviceInfoBox,
  .leftBox {
    width: 100%;
  }

  .serviceInfoBox,
  .leftBox table {
    margin: auto;
  }

  .serviceInfoBox,
  .rightBox {
    width: 90%;
  }

  /* footer css start */

  footer .companyInfoBox {
    display: flex;
    height: 30vmin;
    align-items: baseline;
    justify-content: space-evenly;
  }

  .footIcon {
    width: 100%;
  }

  .footIcon img {
    max-height: 40%;
  }

  .footLink {
    font-size: 2.2vmin;
  }

  .companyInfo1 .impoLink {
    font-size: 3.2vmin;
  }

  .companyInfo1 .footLogo {
    font-size: 4.5vmin;
  }

  .companyInfo1 h4 {
    font-size: 3vmin;
  }

  /* footer css end */
}

@media (max-width: 600px) {
}

@media (max-width: 500px) {
  #logo img {
    height: 25px;
    padding: 3vmin;
  }

  .box1 {
    padding: 0;
  }

  .menu-icon {
    font-size: 20px;
  }

  /* companyInfo Section css start */

  .companyInfoSection .companyInfoBox {
    display: grid;
    justify-content: stretch;
    align-items: center;
    gap: 5vmin;
  }

  .companyInfoSection .companyInfoBox .companyInfo1 {
    width: 80%;
    margin: auto;
    box-shadow: 0 1px 5px gray;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    gap: 2vmin;
  }

  .companyInfoSection .companyInfoBox .companyInfo1 div h3 {
    font-size: 4.8vmin;
  }

  .companyInfoSection .companyInfoBox .companyInfo1 div p {
    font-size: 3.2vmin;
  }

  .companyInfo1 .companyInfoImg {
    width: 20%;
    margin: auto;
  }

  /* facilitiesSection css */

  .facilitiesSection {
    margin-top: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .facilitiesSection .leftBoxes {
    border-radius: 10px;
    padding: 1vmin;
    width: 100%;
  }
  
  
  .servicesBox{
    display: grid;
    align-items: center;
    gap: 2vmin;
    margin: 5vmin;
  }
  
  .serviceInfo{
    margin: 2vmin 20vmin;
    justify-content: space-around;
    font-size: 4vmin;
  }
  
  .ServiceButton{
    align-items: center;
    margin: 0vmin 25vmin;
  }
  
  .ServiceButton button{
    height: 7vmin;
    width: 30vmin;
   color: #fff;
   font-weight: 600;
    border-radius: 25px;
    border: none;
    font-size: 3vmin;
    margin: 3vmin;
  }
  

  /* serviceSection css*/ /* Laundry service Section css start */

  .serviceContainer {
    margin: 2vmin;
  }

  .serviceContainer .leftBox {
    margin-bottom: 5vmin;
    width: 95%;
  }
  .serviceContainer .rightBox {
    width: 99%;
  }

  .rightUpperBox {
    width: 102%;
    margin-bottom: 5vmin;
  }

  .rightLowerBox {
    width: 102%;
    margin-bottom: 5vmin;
  }

.serviceName, .servicePrice{
  font-size: 13px;
}

.addToCartBtn {
  height: 5vmin;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1vmin;
  border-radius: 10px;
  font-size: 12px;
  padding: 1vmin;
}

.InstructionForCart{
  font-size: 13px;
}

.input h3, #addedItemTable thead tr th{
  font-size: 4vmin;
}


}
